/* adminBookManage.css */

.dashboard {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 250px;
    color: black;
    padding: 20px;
}

section {
    width: 50%;
    height: 90vh;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

input {
    background-color: white;
    width: 100%;
    height: 12%;
    border-radius: 15px;
    box-sizing: border-box;
    min-width: 500px;
    padding: 2px;
    margin: 10px;
    color: black;
    font-size: medium;
}

button {
    background-color: #FAA61A;
    color: black;
    margin: 10px;
    min-width: 150px;
    font-style: bold;
}

.searchBooks {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-content: start;
    padding: 5px;
    gap: 20px;
}

.searchBar {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: 0px;
}

.categoryBar {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: inherit;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: 0px;
}

.totalBooks {
    width: 20%;
    height: inherit;
    display: inline;
    gap: 10px;
    margin-top: -40px;
}

.actions {
    width: 15%;
    height: 10vh;
    align-self: flex-start;
}

.booksTable {
    background-color: #031C3E;
    color: white;
}

.booksTable  {
    color: white;
}


.btn {
    align-content: flex-start;
    justify-items: left;
}

.adminBooksTable {
    padding: 20px;
    overflow-y: auto;
    width: 95%;
    height: 70vh;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    gap: 40px;
    text-align: left;
    display: block;
    background-color: #031C3E;
}

.adminBooksTable p {
    color: white;
}

.adminBooksTable table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}


.adminBooksTable td {
    border-bottom: #ffffff;
    text-align: left;
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 8px 10px;
    vertical-align: middle;
}

.adminBooksTable td {
    color: white;
}

.adminBooksTable th {
    text-align: left;
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 10px;
    color: white;
    background-color: #031C3E; /* Changed header background color to #031C3E */
}

.adminBooksTable th:not(:last-child),
.adminBooksTable td:not(:last-child) {
    padding-right: 15px;
}

.adminBooksTable th:nth-child(1),
.adminBooksTable td:nth-child(1) {
    width: 8%;
}

.adminBooksTable th:nth-child(2),
.adminBooksTable td:nth-child(2) {
    width: 20%;
}

.adminBooksTable th:nth-child(3),
.adminBooksTable td:nth-child(3) {
    width: 15%;
}

.adminBooksTable th:nth-child(4),
.adminBooksTable td:nth-child(4) {
    width: 8%;
}

.adminBooksTable th:nth-child(5),
.adminBooksTable td:nth-child(5) {
    width: 15%;
}

.adminBooksTable th:nth-child(6),
.adminBooksTable td:nth-child(6) {
    width: 10%;
}

.adminBooksTable th:nth-child(7),
.adminBooksTable td:nth-child(7) {
    width: 10%;
}

.adminBooksTable th:nth-child(8),
.adminBooksTable td:nth-child(8) {
    width: 8%;
    text-align: center;
}

.adminBooksTable th:nth-child(9),
.adminBooksTable td:nth-child(9) {
    width: 8%;
    text-align: center;
}

.adminBooksTable th:nth-child(10),
.adminBooksTable td:nth-child(10) {
    width: 8%;
}

.adminBooksTable th:nth-child(11),
.adminBooksTable td:nth-child(11) {
    width: 10%;
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
}

.adminBooksTable tbody tr td button {
    padding: 5px 8px;
    font-size: 0.7em;
    max-width: 80%;
    height: auto;
    line-height: 1;
    margin: 0px;
}

.adminBooksTable tbody tr td {
    padding: 8px 10px;
}

.adminBooksTable .edit-btn,
.adminBooksTable .delete-btn {
    padding: 5px 8px;
    font-size: 0.7em;
    min-width: 50px;
    height: auto;
    line-height: 1;
    margin: 2px;
}

.adminBooksTable tbody tr:hover {
    background-color: #8c5902;
    cursor: pointer;
}
.rtn-btn{
    background-color: #FAA61A;
    color: black;
}

.actions-icons {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically align items in the flex container */
    justify-content: center; /* Horizontally center the icons */
    gap: 10px; /* Creates a 10-pixel gap between the icons */
    margin-left: 10px;
}
.edit-icon, .delete-icon {
    cursor: pointer;
    font-size: 1.8em; /* Adjust icon size as needed */
    color: orange; /* Sets the color of both icons to orange */
}

.edit-icon:hover, .delete-icon:hover {
    cursor: pointer;
    font-size: 1.8em; /* Adjust icon size as needed */
    color: white; /* Sets the color of both icons to orange */
}

