/* adminBorrowBook.css */

.dashboard {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 250px;
    color: black;
    padding: 20px;
  }
  
  section {
    width: 50%;
    height: 90vh;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  input {
    background-color: white;
    width: 100%;
    height: 12%;
    border-radius: 15px;
    box-sizing: border-box;
    min-width: 500px;
    padding: 2px;
    margin: 10px;
    color: black;
    font-size: medium;
  }
  
  button {
    background-color: #FAA61A;
    color: black;
    margin: 10px;
    min-width: 150px;
    font-style: bold;
  }
  
  .searchBooks {
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    align-content: start;
    padding: 5px;
    gap: 20px;
  }
  
  .searchBar {
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: inherit;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    border: 0px;
  }
  
  .totalBorrowed {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .totalBorrowed .label {
    color: black;
  }
  
  .totalBorrowed .label:nth-child(2) {
    font-size: 100px;
    margin-top: -10px;
  }
  
  
  .booksTable {
    background-color: #031C3E;
  }
  
  .booksTable tr {
    background-color: #031C3E;
  }
  
  
  .btn {
    align-content: flex-start;
    justify-items: left;
  }
  
  .borrowedBooksTable {
    padding: 20px;
    overflow-y: auto;
    width: 95%;
    height: 70vh;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 1);
    border-radius: 10px;
    gap: 40px;
    text-align: left;
    display: block;
    background-color: #031C3E;
  }
  
  .borrowedBooksTable p {
    color: white;
  }
  
  .borrowedBooksTable table {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
  }
  
  
  .borrowedBooksTable td {
    border-bottom: #ffffff;
    text-align: left;
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 8px 10px;
  }
  
  .borrowedBooksTable td {
    color: white;
  }
  
  .borrowedBooksTable th {
    text-align: left;
    font-size: 0.8em;
    overflow-wrap: break-word;
    word-break: break-word;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 8px 10px;
    color: white;
    background-color: #031C3E;
  }
  
  .borrowedBooksTable th:not(:last-child),
  .borrowedBooksTable td:not(:last-child) {
    padding-right: 15px;
  }
  
  .borrowedBooksTable th:nth-child(1),
  .borrowedBooksTable td:nth-child(1) {
    width: 8%;
  }
  
  .borrowedBooksTable th:nth-child(2),
  .borrowedBooksTable td:nth-child(2) {
    width: 20%;
  }
  
  .borrowedBooksTable th:nth-child(3),
  .borrowedBooksTable td:nth-child(3) {
    width: 13%;
  }
  
  .borrowedBooksTable th:nth-child(4),
  .borrowedBooksTable td:nth-child(4) {
    width: 8%;
  }
  
  .borrowedBooksTable th:nth-child(5),
  .borrowedBooksTable td:nth-child(5) {
    width: 15%;
  }
  
  .borrowedBooksTable th:nth-child(6),
  .borrowedBooksTable td:nth-child(6) {
    width: 10%;
  }
  
  .borrowedBooksTable th:nth-child(7),
  .borrowedBooksTable td:nth-child(7) {
    width: 10%;
  }
  
  .borrowedBooksTable th:nth-child(8),
  .borrowedBooksTable td:nth-child(8) {
    width: 8%;
    text-align: center;
  }
  
  .borrowedBooksTable th:nth-child(9),
  .borrowedBooksTable td:nth-child(9) {
    width: 8%;
    text-align: center;
  }
  
  .borrowedBooksTable th:nth-child(10),
  .borrowedBooksTable td:nth-child(10) {
    width: 5%;
  }
  
  .borrowedBooksTable th:nth-child(11),
  .borrowedBooksTable td:nth-child(11) {
    width: 10%;
    text-align: center;
  }
  
  .error {
    color: red;
    margin-top: 10px;
  }
  
  .borrowedBooksTable tbody tr td button {
    padding: 5px 8px;
    font-size: 0.7em;
    max-width: 80%;
    height: auto;
    line-height: 1;
    margin: 0px;
  }
  
  .booksTable tbody tr td {
    padding: 8px 10px;
    background-color: #031C3E;
  }
  
  .borrowedBooksTable .edit-btn,
  .borrowedBooksTable .delete-btn {
    padding: 5px 8px;
    font-size: 0.7em;
    min-width: 50px;
    height: auto;
    line-height: 1;
    margin: 2px;
  }
  
  .borrowedBooksTable tbody tr:hover {
    background-color: #8c5902;
    cursor: pointer;
  }
  
  .rtn-btn {
    background-color: #FAA61A;
    color: black;
  }
  